---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
	
	<style>
body {
  background-image: url("/images/background8.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
}
</style>

  </head>

  <body>
	
    {% include browser-upgrade.html %}
    {% include masthead.html %}

	{{ content }}
	
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
